*{
	margin: 0;
	padding: 0;
}

body{
font-size: 1.2em;
	background-color: mistyrose;
color: #555555;
}


p{
	padding: 0 0 20px 0;
	line-height: 1.5em;
}


input [type="text"], input [type="password"], input[type="search"] {
	color: gray;
	width: 60%;
	padding: 8px;
}


input, textarea {
	outline: none;
	border: none;
	border: solid 1.5px lightcoral;
}

h1, h2 {
	font: normal 170% 'century gothic', arial;
	padding: 0px 0	5px	0;
}

h2{
	font-size: 140%;
}


ul li {
	margin: 0 0  6px 0;
	padding: 0 0 4px 5px;
	line-height: 1.5em;
}

.header {
	background-color: lightcoral;
	height: 180px;
	font-size: 20px;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
	width: auto;
	letter-spacing: 2px;
}

.main, .logo, .menubar, .site_content, .footer {
	margin-left: auto;
	margin-right: auto;
}

.logo{
	width: auto;
	padding-bottom: 40px;
	padding-top: 35px;
	padding-left: 35px;
}

.logo_text {
	color:   #4a522d		;
	font: normal 100% 'century gothic', Apple Braille, Apple LiGothic;
	margin: 0 0 0 9px;
}
a {
	color: lightcoral;
	text-decoration: none;
}

/*li{*/
/*	color: black;*/
/*	text-decoration: none;*/
/*}*/

.TheBOOKshelf  {
	color: lavenderblush;
	font-size:40px;
}
.logo_text h2 {
	font-size: 16px;
}


.menubar {
	width: auto;
	height: 45px;
	background-color:  #f5a3a3;
}


ul.menu li{
	float: left;
	padding: 0 0 0 9px;
	list-style: none;
	margin: 1px 2px 0 0 px;
}


ul.menu li a {
	font: normal 300% 'century gothic', arial ;
	font-size: 24px;
	display: block;
	height: 20px;
	padding: 5px 35px 5px 28px;
	color: mistyrose;
	text-decoration: none;
}
ul.menu li.selected a {
	color: darkolivegreen;
}
ul.menu li a:hover {
	color:  #009999;
}
.main {
background-color:  #ffe6e6;
}
.site_content{
	width: auto;
	height: auto;
	overflow: auto;
	margin: 20px auto 0 auto;

}
.sidebar_container{
	float: right;
	width: 235px;
	height: auto;
	background-color:  #ffd9cc;
}
.sidebar{
	float: right;
	padding: 5%;
	margin: 0 0 16px 0;
	border: solid 3px lightcoral ;
	border-radius: 5px;
}


.btn{
	padding: 8px;
	cursor: pointer;
	background-color:#9ba244;
	border: solid 1px olive ;
}

.sidebar h2 {
	color:darkolivegreen ;
}


.lables_passreg_text {
	font-size: 14px;
	margin-top: 3%;
	margin-left: 2%;
}


.sidebar ul {
	margin: 0;
}

.sidebar ul li {
	list-style-type: none;
	margin: 0;
}
.rating_sidebar{
	float: right;
	/*display:flex ;*/
}

.content{
	text-align: left;
	width: 620px;
	padding: 0 0 0 5px;
	float: top;

}
.new_books_block{
	/*display: flex;*/
	align-items: flex-end;
	justify-content: space-between;
}

/*.new_books_block a{*/
/*	display: block;*/
/*}*/

.footer {
	width: 100%;
	height: 100px;
	padding: 28px 0 5px 0;
	text-align: center;
	background-color: lightcoral;
	color: #4a522d;
	margin-left: 0;
	margin-right: 0;
	min-width: 900px;
	font: normal 70% "Lucida Console", Monaco, monospace;
}

.footer a{
	color: #4a522d;
}

.footer a:hover{
	color: olive;
}


.site_author {
	font-size: 12px;
}